<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1> about </h1>

<%= link_to "Alpha Blog", articles_path %> | <%= link_to 'home', root_path %>
  
  </body>
</html>

